.dash {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
}

.loader {
    border-top: 16px solid gold;
    border-right: 16px solid rgb(95, 95, 95);
    border-bottom: 16px solid gold;
    border-left: 16px solid rgb(95, 95, 95);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.mark {
    width: 20pt;
    opacity: 70%;
}

.black {
}

.white {
    filter: invert(1);
}

table {
    border-radius: 8px;
    border-collapse: collapse;
}

/* , th, td {
} */

table {
    width: 95%;
    border: none;
}

.details {
    background-color: rgba(255, 127, 127, 0.19);
}

th, td {
    padding: 5px;
    text-align: left;
}

td {
    max-width: 150px;
}


th {
    min-width: 200px;
    height: 40px;
}

@media only screen and (max-width: 600px) {
    table {
        width: 95vw;
    }
    .mark {
        width: 4.3vmin;
    }
    th {
        min-width: 90px;
        height: 40px;
    }
  }


tr:hover {
    background-color: rgba(77, 77, 77, 0.288);
}